/* Colocar aquí CSS "propio" */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.nav {
  position: sticky;
  top: 0;
}
.button:hover {
  transform: scale(1.2);
  transition: 600ms;
}

/* Fondo de la web */
.background-img {
  background-image: url("https://wallpaperaccess.com/full/279553.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50vh;
  width: 100%;
}

.article {
  margin-top: 1rem;
  border-bottom: solid 1px grey;
}
.article:hover {
  border-bottom: solid 1px white;
  transform: scale(1.01);
  transition: 300ms;
}

.article:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.insertComment {
  display: flex;
  flex-direction: column;
}

.insertComment textarea input button {
  margin-top: 100rem;
}

#inputName {
  margin-bottom: 0.5rem;
}

#inputText {
  margin-bottom: 0.5rem;
}

#inputButton {
  margin-bottom: 0.5rem;
}

/* footer */
.icon:hover {
  transform: scale(1.1);
  transition: 400ms;
}
